.field{
	.control{
		margin-bottom: 0 !important;
	}

	&.has-error{
		position: relative;

		.control{
			margin-bottom: 1em !important;
		}

		.help{
	    position: absolute;
	    top: 103%;
	    margin: 0 !important;
		}
	}
}

.select{
	&:after{
		border: solid 1px $turquoise !important;
		border-right: 0 !important;
		border-top: 0 !important;
	}
}