.snackbar{
  transform: translateY(110%);
  opacity: 0;
  background: #323232;
  color: rgba(255,255,255,87);
  padding: 15px 65px 15px 25px;
  max-width: 425px;
  line-height: 1.5;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all ease-in-out 250ms;
  z-index: 9999;

  &.opened{
    transform: none;
    opacity: 1;
  }

  a{
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding-left: 2em;
    color: $turquoise;
    text-decoration: none;
    font-weight: bold;

    &:hover{
      opacity: 0.8;
    }
  }
}