/*=========================================
============ General overrides ============
=========================================*/

.swal-modal{
	border-radius: 0 !important;
}

a,
// .tag,
input,
button,
select,
textarea{
	outline: none;

	&:not(.is-rounded){
		border-radius: 0 !important;
	}
}

.tag{
	cursor: default;
}

.column{
	&.badge[data-badge]::after {
	    top: 3px;
	    right: 3px;
			left: auto;
	}
}

/*=========================================
============= Text overrides ==============
=========================================*/

.is-muted{
	color: $grey-light !important;
}

a{
	color: $turquoise;

	&.is-muted:hover{
		color: $grey !important;
	}
}

/*=========================================
============ Navbar overrides =============
=========================================*/

.navbar-item{
	&.is-tab{
		&:hover,
		&.is-active{
			color: $turquoise;
			border-bottom-color: $turquoise;
			border-bottom-width: 1px;
		}
	}
}

@media screen and (min-width: 1024px){
	.navbar-link{
		&:after{
			border-color: $turquoise;
		}
	}
}

/*=========================================
============ Button overrides =============
=========================================*/

.button{
	&:focus,
	&.is-focused{
		&:not(:active){
			box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
		}
	}

	&:not(.is-primary, .is-link, .is-danger, .is-warning, .is-success, .is-info){
		&:focus,
		&.is-focused{
			&:not(:active){
				border-color: $turquoise;
			}
		}
	}
}

/*=========================================
============= Form overrides ==============
=========================================*/

.invoice-date-picker-field{
	input{
		width: initial;
		height: 22.28px;
		padding-bottom: 5px;
    box-shadow: none;

    +.icon{
			height: 25px !important;
    }
	}
}

.input,
.select select,
.textarea{
	&[type=date].is-small{
		width: initial;
		height: 22.28px;
    padding: 0 0 0 1px;
    box-shadow: none;
	}
	// &.is-primary{
		border-color: #dbdbdb;

		&:focus,
		&.is-focused,
		&:focus,
		&.is-focused{
			border-color: $turquoise;
			box-shadow: none !important;
		}

		&:active,
		&.is-active,
		&:active,
		&.is-active{
			box-shadow: none !important;
		}
	// }

	&.is-danger{
		border-color: $red;

		&:focus,
		&.is-focused,
		&:focus,
		&.is-focused{
			border-color: $red;
			box-shadow: none !important;
		}

		&:active,
		&.is-active,
		&:active,
		&.is-active{
			box-shadow: none !important;
		}
	}
}

.b-checkbox{
	&.checkbox{
		&.is-small{
			input[type=checkbox] + .check{
				width: 15px;
				height: 15px;
				border-radius: 0;
				border-width: 1px;
			}
		}
	}
	&.label{
		font-weight: 400;
	}
}

/*=========================================
============ Tables overrides =============
=========================================*/

.content{
	table{
		&:not(.is-hoverable){
			tr{
				&:hover{
					background-color: transparent !important;
				}
			}
		}

		&.has-no-borders{
			tr, th, td{
				border: none !important;
			}
		}

		&.has-no-padding{
			th, td{
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		}

		&.has-text-small{
			th, td, input, textarea{
				font-size: 0.875em !important;
			}
		}

		th, td{
			&.is-empty{
				border: none !important;
			}

			&.has-input-field{
				vertical-align: middle;

				input, textarea{
			    display: inline-table;
			    width: 100%;

			    &.has-no-borders{
			    	border: none !important;
			    }
				}

				.select{
					select{
						height: 1.865em !important;
						line-height: 1.4 !important;
					}

					&:after{
						margin-top: -0.575em !important;
					}
				}
			}
		}

		thead{
			tr{
				&:hover{
					background-color: initial !important;
				}
			}
		}
  }
}

/*=========================================
========== Pagination overrides ===========
=========================================*/

.pagination{
  ul{
  	list-style: none;
    margin: 0 30px 0 0;
  }

	li{
		margin: 0 !important;
	}

	a{
		margin: 0 5px !important;
		font-size: 0.8rem !important;
    padding: 0 !important;

		&.is-current {
	    background-color: $turquoise;
	    border-color: $turquoise;
	    color: #fff;
		}

		&:focus{
			border-color: $turquoise;
		}
	}
}

/*=========================================
========== SweetAlert overrides ===========
=========================================*/

.swal-overlay {
  background-color: rgba(0,0,0,.2);
}

.swal-button{
	&:focus{
		// box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(100,114,165,.2);
		box-shadow: none;
	}

	&.swal-button--confirm {
	  background-color: #00d1b2;
	  color: #fff;
	}

	&.swal-button--danger {
	  background-color: #ff3860;
	  color: #fff;
	}
}


.swal-button--cancel {
  border: solid 1px #dbdbdb;
  background-color: #fff;
  color: #000;
}

/*=========================================
======= Bulma Extenssions overrides =======
=========================================*/

.tooltip{
	&.is-dark{
		&:before{
			border-top-color: rgba(74, 74, 74, 0.9) !important;
		}
		&:after{
			border-radius: 3px;
			background: rgba(74, 74, 74, 0.9);
		}
	}
}


.badge[data-badge]::after {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*=========================================
============ Colpick overrides ============
=========================================*/

.colpick_hex{
	overflow: visible !important;
  // top: 301px !important;
	// left: 504px !important;
	height: 207px !important;
	background: white !important;
  border: solid 1px #dbdbdb !important;
}

.colpick_new_color,
.colpick_hex_field{
	display: none !important;
}

.colpick_selector_outer{
	border: 1px solid #dbdbdb !important;
  border-radius: 999px !important;
  overflow: hidden;
}

.colpick_selector_inner{
  border: 1px solid white !important;
  background: white !important;
}

.colpick_color{
	outline: 1px solid #dbdbdb !important;
}

.colpick_hue{
	border: 1px solid #dbdbdb !important;
  cursor: row-resize !important;
}

.colpick_hue_larr{
	border-left-color: $turquoise !important;
}

.colpick_hue_rarr{
	border-right-color: $turquoise !important;
}

.colpick_default{
  position: absolute;
  bottom: 7px;
  left: 6px;
  font-size: 0.75rem;
  padding: 0 10px;
}

.colpick_submit{
	display: block !important;
  top: auto !important;
  bottom: 7px !important;
  left: auto !important;
  right: 10px !important;
  padding: 1px 5px 1px 3px;
  font-weight: 400 !important;
}
