/*=========================================
============ General overrides ============
=========================================*/

*{
	border-radius: 0 !important;
}

/*=========================================
============= Text overrides ==============
=========================================*/

.is-muted{
	color: $grey-light !important;
}

a{
	color: $turquoise;

	&.is-muted:hover{
		color: $grey !important;
	}
}

/*=========================================
============ Navbar overrides =============
=========================================*/

.navbar-item{
	&.is-tab{
		&:hover,
		&.is-active{
			color: $turquoise;
			border-bottom-color: $turquoise;
			border-bottom-width: 1px;
		}
	}
}

@media screen and (min-width: 1024px){
	.navbar-link{
		&:after{
			border-color: $turquoise;
		}
	}
}

/*=========================================
============= Form overrides ==============
=========================================*/

.input,
.textarea{
	&.is-primary{
		border-color: #dbdbdb;

		&:focus,
		&.is-focused,
		&:active,
		&.is-active,
		&:focus,
		&.is-focused,
		&:active,
		&.is-active{
			border-color: $turquoise;
		}
	}
}

.b-checkbox{
	&.checkbox{
		&.is-small{
			input[type=checkbox] + .check{
				width: 15px;
				height: 15px;
				border-radius: 0;
				border-width: 1px;
			}
		}
	}
	&.label{
		font-weight: 400;
	}
}
