#app{
	padding-top: 52px;
}

.guest-form{
	display: flex;
	justify-content: flex-end;
    min-height: 100vh;
    margin-top: -52px;
    padding-top: 52px;

    .background{
    	flex: 1;
    	position: relative;
		background-color: #fff;
		background-position: center;
		background-size: cover;

		&:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,.5);
		}
    }

	.form-container{
		position: relative;
		flex: 1;
		background-color: #fff;
		display: flex;
		justify-content: center;
		padding-top: 100px;
		min-width: 33.33%;
		max-width: 400px;
	}

	.notification{
		position: absolute;
	    top: 25px;
	    width: 80%;
	}

	.form{
		width: 100%;
		max-width: 275px;
	}
}