body{
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}

#app{
	min-height: 100vh;
	padding-top: 52px;
	// padding-bottom: 52px;
}

.guest-form{
	display: flex;
	justify-content: flex-end;
    min-height: 100vh;
    margin-top: -52px;
    padding-top: 52px;
    background-position: top 70px right 200px;
    background-size: cover;
    background-color: #fff;

	.form-container{
		position: relative;
		flex: 1;
		background-color: #fff;
		display: flex;
		justify-content: center;
		padding-top: 100px;
		min-width: 33.33%;
		max-width: 400px;
		box-shadow: 0 0 30px gainsboro;
	}

	.notification{
		position: absolute;
	    top: 25px;
	    width: 80%;
	}

	.form{
		width: 100%;
		max-width: 275px;
	}
}

.card{
	&.is-translucid{
		background-color: rgba(255,255,255,0.9);
	}

	&.is-full-height{
		min-height: calc(100vh - 100px);
	}
}